@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Notable&display=swap");
@import './pages/Explore/index.css';
.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  position: fixed;
  background-color: #891D1A;
  height: 100%;
  gap: 1rem;
  align-items: center;
}

@media (max-width: 768px) {
  .conteudo {
    grid-template-columns: 1fr;
    gap: 2rem;
    position: relative;
    height: auto;
  }
}
#home-login {
  width: 100px;
  color: #431716;
  font-size: 2rem;
  margin-left: 5%;
  margin-top: 2%;
  font-family: Lexend;
  font-weight: 900;
  word-wrap: break-word;
  text-shadow: 0 8px 24px rgba(0, 0, 0, 0.336);
}

#home-login:hover {
  color: #E1B2A0;
}

#home-paragrafo1 {
  color: #E1B2A0;
  font-size: 2rem;
  margin-top: 1rem;
  margin-left: 5%;
  font-family: Lexend;
  font-weight: 300;
}

#home-titulo {
  color: #F1E6E2;
  font-size: 11rem;
  margin-left: 5%;
  font-family: Notable;
  font-weight: 400;
  line-height: 1;
  margin-top: 1rem;
  word-wrap: break-word;
}

#home-botao-explorar {
  width: 26.25rem;
  height: 7.375rem;
  margin-left: 20%;
  background: #E1B2A0;
  border: none;
  border-radius: 20px;
  color: #891D1A;
  font-size: 2.5rem;
  font-family: Lexend;
  font-weight: 900;
  margin-top: 9%;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.336);
}

#home-botao-explorar:hover {
  background-color: #ebdad3;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.549);
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;
  place-items: center;
}

.cards #card1 {
  --delay: -1;
}
.cards #card2 {
  --delay: 0;
}
.cards #card3 {
  --delay: 1;
}
.cards #card4 {
  --delay: 2;
}
.cards #card5 {
  --delay: 2;
}

.outer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.outer .img img {
  width: 100%;
  height: auto;
  max-width: 200px;
  max-height: 200px;
  object-fit: cover; 
  border-radius: 10px;
}

.cards .card {
  background: #891D1A;
  margin-top: 2%;
  width: 100%;
  max-width: 550px;
  height: 350px;
  aspect-ratio: 4/3;
  border-radius: 5px;
  position: absolute;
  pointer-events: none;
  overflow: hidden;
  opacity: 0;
  animation: animate 15s infinite linear;
  animation-delay: calc(3s * var(--delay));
}

.cardimage {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.img {
  height: 390px;
  width: 560px;
  border-radius: 5px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.336);
}

.img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cards .card:last-child {
  animation-delay: calc(-3s * var(--delay));
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(100%) scale(0.5);
  }
  5%, 20% {
    opacity: 0.4;
    transform: translateY(100%) scale(0.7);
  }
  24%, 40% {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0%) scale(1);
  }
  45%, 60% {
    opacity: 0.4;
    transform: translateY(-100%) scale(0.7);
  }
  65%, 100% {
    opacity: 0;
    transform: translateY(-100%) scale(0.5);
  }
}
@media (max-width: 480px) {
  #home-titulo {
    font-size: 2.5rem;
  }
  #home-paragrafo1 {
    font-size: 0.9rem;
  }
  #home-botao-explorar {
    font-size: 0.9rem;
    height: 50px;
  }
}/*# sourceMappingURL=index.css.map */